<div class="card">
  <div class="card-header text-center">
    <h2>Users List</h2>
  </div>
  <div class="card-body p-0">
  <table class="table table-striped">
    <thead>
      <tr>
        <h3>Name</h3>
      </tr>
    </thead>

    <tbody>
    
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>