<div class="container-fluid ">
<h3 class="text-center">Attendance List</h3> <br><br>

<div class="row">

  <div class="col">

    <h4>User Data:</h4>

    <label>Name: </label>
    <h5><%= @user.name %></h5>

  </div>
  

  
   
    <div class="col">
    <h4>Upcoming</h4>
    </div>
    <ul class="list-group col">
      <% @user.attended_events.upcoming.each do |event| %>
        <li class="list-group-item col"><tr>
        <td><%= event.title %></td>
        
       </tr></li>
       
       
      <% end %>
      </ul>
    <br>
    <div class="col">
    <h4>Attended</h4>
    </div>
    <ul class="list-group col">
    <% @user.attended_events.previous.each do |event| %>
      <li class="list-group-item col"><tr>
        <td><%= event.title %></td>
       </tr></li>
    <% end %>
    </ul>
    
  </div>
 </div>